# Configuration for komga setup

# Name of the big-bear-komga application
name: big-bear-komga
# Service definitions for the big-bear-komga application
services:
  # Service name: big-bear-komga
  # The `big-bear-komga` service definition
  big-bear-komga:
    # Name of the container
    container_name: big-bear-komga
    # Image to be used for the container
    image: ghcr.io/gotson/komga:1.24.1
    # Container restart policy
    restart: unless-stopped
    # Environment variables for the container
    environment:
      - TZ=UTC
    # Volumes to be mounted to the container
    volumes:
      - /DATA/AppData/$AppID/config:/config
      - /DATA/AppData/$AppID/data:/data
    # Ports mapping between host and container
    ports:
      # Mapping port 25600 of the host to port 25600 of the container
      - "25600:25600"
    x-casaos:
      envs:
        - container: TZ
          description:
            en_us: 'Container Variable: TZ'
      volumes:
        - container: /config
          description:
            en_us: 'Container Path: /config'
        - container: /data
          description:
            en_us: 'Container Path: /data'
      ports:
        - container: "25600"
          description:
            en_us: 'Container Port: 25600'
x-casaos:
  # Supported CPU architectures for this application
  architectures:
    - amd64
    - arm64
  # Main service for this application
  main: big-bear-komga
  # Detailed description for the application
  description:
    en_us: A media server for your comics, mangas, BDs, magazines and eBooks.
  # Brief tagline for the application
  tagline:
    en_us: A media server for your comics, mangas, BDs, magazines and eBooks.
  # Developer's information
  developer: gotson
  # Author of this particular configuration
  author: BigBearTechWorld
  # Icon URL for the application
  icon: https://cdn.jsdelivr.net/gh/selfhst/icons/png/komga.png
  # Thumbnail image for the application (if any)
  thumbnail: ""
  # Installation tips
  tips:
    before_install:
      en_us: |
        Read this before installing: https://community.bigbeartechworld.com/t/added-komga-to-bigbearcasaos/1916#p-3567-documentation-4
  # Title for the application
  title:
    en_us: Komga
  # Category under which the application falls
  category: BigBearCasaOS
  # Default port mapping for the application
  port_map: "25600"
