# Configuration for lobe-chat setup

# Name of the big-bear-lobe-chat application
name: big-bear-lobe-chat
# Service definitions for the big-bear-lobe-chat application
services:
  # Service name: big-bear-lobe-chat
  # The `big-bear-lobe-chat` service definition
  big-bear-lobe-chat:
    # Name of the container
    container_name: big-bear-lobe-chat
    # Image to be used for the container
    image: lobehub/lobe-chat:1.143.3
    # Container restart policy
    restart: unless-stopped
    # Environment variables for the container
    environment:
      - OPENAI_API_KEY=""
      - OPENAI_PROXY_URL=""
      - CUSTOM_MODELS=""
      - ACCESS_CODE=""
    # Ports mapping between host and container
    ports:
      # Mapping port 3210 of the host to port 3210 of the container
      - "3210:3210"
    x-casaos:
      envs:
        - container: OPENAI_API_KEY
          description:
            en_us: 'Container Variable: OPENAI_API_KEY'
        - container: OPENAI_PROXY_URL
          description:
            en_us: 'Container Variable: OPENAI_PROXY_URL'
        - container: CUSTOM_MODELS
          description:
            en_us: 'Container Variable: CUSTOM_MODELS'
        - container: ACCESS_CODE
          description:
            en_us: 'Container Variable: ACCESS_CODE'
      ports:
        - container: "3210"
          description:
            en_us: 'Container Port: 3210'
x-casaos:
  # Supported CPU architectures for this application
  architectures:
    - amd64
    - arm64
  # Main service for this application
  main: big-bear-lobe-chat
  # Detailed description for the application
  description:
    en_us: LobeChat is a open-source, extensible (Function Calling), high-performance chatbot framework. It supports one-click free deployment of your private ChatGPT/LLM web application.
  # Screenshot links for the application
  screenshot_link:
    - https://cdn.jsdelivr.net/gh/bigbeartechworld/big-bear-universal-apps@main/apps/lobe-chat/screenshots/screenshot-1.png
  # Brief tagline for the application
  tagline:
    en_us: LobeChat
  # Developer's information
  developer: lobehub
  # Author of this particular configuration
  author: BigBearTechWorld
  # Icon URL for the application
  icon: https://cdn.jsdelivr.net/gh/selfhst/icons/png/lobe-chat.png
  # Thumbnail image for the application (if any)
  thumbnail: https://cdn.jsdelivr.net/gh/bigbeartechworld/big-bear-casaos@main/Apps/lobe-chat/thumbnail.png
  # Installation tips
  tips:
    before_install:
      en_us: |
        Read this before installing: https://community.bigbeartechworld.com/t/added-lobe-chat-to-bigbearcasaos/2453?u=dragonfire1119
  # Title for the application
  title:
    en_us: LobeChat
  # Category under which the application falls
  category: BigBearCasaOS
  # Default port mapping for the application
  port_map: "3210"
