# Configuration for trilium setup

# Name of the big-bear-trilium application
name: big-bear-trilium
# Service definitions for the big-bear-trilium application
services:
  # Service name: app
  # The `app` service definition
  app:
    # Name of the container
    container_name: big-bear-trilium
    # Image to be used for the container
    image: triliumnext/trilium:v0.101.3
    # Container restart policy
    restart: unless-stopped
    # Environment variables
    environment:
      - TRILIUM_DATA_DIR=/home/node/trilium-data
    # Volumes to be mounted to the container
    volumes:
      # Mounting the local /DATA/AppData/$AppID/data directory to /home/node/trilium-data inside the container
      - /DATA/AppData/$AppID/data:/home/node/trilium-data
    # Ports mapping between host and container
    ports:
      # Mapping port 8080 of the host to port 8080 of the container
      - "8080:8080"
    x-casaos:
      envs:
        - container: TRILIUM_DATA_DIR
          description:
            en_us: 'Container Variable: TRILIUM_DATA_DIR'
      volumes:
        - container: /home/node/trilium-data
          description:
            en_us: 'Container Path: /home/node/trilium-data'
      ports:
        - container: "8080"
          description:
            en_us: 'Container Port: 8080'
x-casaos:
  # Supported CPU architectures for this application
  architectures:
    - amd64
    - arm64
  # Main service for this application
  main: app
  # Detailed description for the application
  description:
    en_us: Build your personal knowledge base with Trilium Notes
  # Brief tagline for the application
  tagline:
    en_us: Build your personal knowledge base with Trilium Notes
  # Developer's information
  developer: TriliumNext
  # Author of this particular configuration
  author: BigBearTechWorld
  # Icon URL for the application
  icon: https://cdn.jsdelivr.net/gh/selfhst/icons/png/trilium-notes.png
  # Thumbnail image for the application (if any)
  thumbnail: ""
  # Title for the application
  title:
    en_us: Trilium
  # Category under which the application falls
  category: BigBearCasaOS
  # Default port mapping for the application
  port_map: "8080"
