# Name of the application
name: big-bear-flame

# List of services that this application uses
services:
  # Main service for the Flame application
  app:
    # The Docker image to be used for the Flame application
    image: pawelmalak/flame:multiarch2.3.1

    # Environment variables that configure the application
    environment:
      # Specifies the password to be used by the Flame application
      PASSWORD: casaos

    # Policy to determine how the service should be restarted if it stops
    restart: unless-stopped

    # Specifies the ports that the application should expose
    ports:
      # Maps the container's port (target) to the host's port (published)
      - target: 5005
        published: "5005"
        protocol: tcp

    # Specifies the storage volumes that the application should use
    volumes:
      # Mounts the application data directory from the host system to the container
      - type: bind
        source: /DATA/AppData/$AppID/data
        target: /app/data

      # Mounts the Docker socket from the host system to the container
      - type: bind
        source: /var/run/docker.sock
        target: /var/run/docker.sock

# CasaOS specific configuration for the application
x-casaos:
  # List of architectures that this application supports
  architectures:
    - amd64
    - arm
    - arm64

  # Indicates the main service for this application within the services list
  main: app

  # Provides a detailed description of the application
  description:
    en_us:
      Flame is a self-hosted startpage for your server. Its design is heavily inspired
      by SUI. Flame is user-friendly and easy to set up. With its built-in
      editors, users can quickly establish their own application hub without any file editing.

  # Provides a short and catchy tagline for the application
  tagline:
    en_us: Flame is a self-hosted startpage for your server. Manage your apps and bookmarks effortlessly with built-in editors.

  # Name of the developer or organization that developed the application
  developer: ""

  # Indicates the person or organization responsible for creating this configuration
  author: BigBearCommunity

  # URL pointing to the icon for the application
  icon: https://cdn.jsdelivr.net/gh/walkxcode/dashboard-icons/png/flame.png

  # URL pointing to a thumbnail image representing the application
  thumbnail: https://github.com/pawelmalak/flame/raw/master/.github/home.png

  # Provides a title for the application
  title:
    en_us: Flame

  # Specifies the category under which the application falls
  category: BigBearCasaOS

  # Specifies the port on which the application is accessible
  port_map: "5005"
