# Configuration for big-bear-codex-docs setup
name: big-bear-codex-docs

# Service definitions for the big-bear-codex-docs application
services:
  app:
    image: ghcr.io/codex-team/codex.docs:v2.2
    ports:
      - "3000:3000"
    volumes:
      - /DATA/AppData/$AppID/uploads:/usr/src/app/uploads
      - /DATA/AppData/$AppID/db:/usr/src/app/db
      - /DATA/AppData/$AppID/codex-docs-config.local.yaml:/usr/src/app/docs-config.yaml
    x-casaos: # CasaOS specific configuration
      volumes:
        - container: /usr/src/app/uploads
          description:
            en_us: "Container Path: /usr/src/app/uploads"
        - container: /usr/src/app/db
          description:
            en_us: "Container Path: /usr/src/app/db"
        - container: /usr/src/app/docs-config.yaml
          description:
            en_us: "Container Path: /usr/src/app/docs-config.yaml"
      ports:
        - container: "3000"
          description:
            en_us: "Container Port: 3000"

# CasaOS specific configuration
x-casaos:
  architectures: # Supported CPU architectures
    - amd64
    - arm64
  main: app # Main service of the application
  description:
    en_us: CodeX Docs is a free docs application. It's based on Editor.js ecosystem which gives all modern opportunities for working with content. # Description in English
  tagline:
    en_us: CodeX Docs # Short description or tagline in English
  developer: "" # Developer's name or identifier
  author: BigBearTechWorld # Author of this configuration
  icon: https://cdn.jsdelivr.net/gh/bigbeartechworld/big-bear-casaos/Apps/codex-docs/logo.jpg?raw=true # Icon for the application
  thumbnail: "" # Thumbnail image (currently empty)
  title:
    en_us: CodeX Docs # Title in English
  category: BigBearCasaOS # Application category
  port_map: "3000" # Port mapping information
