# Configuration for obsidian setup

# Name of the big-bear-obsidian application
name: big-bear-obsidian
# Service definitions for the big-bear-obsidian application
services:
  # Service name: big-bear-obsidian
  # The `big-bear-obsidian` service definition
  big-bear-obsidian:
    # Name of the container
    container_name: big-bear-obsidian
    # Image to be used for the container
    image: linuxserver/obsidian:1.11.4
    # Container restart policy
    restart: unless-stopped
    # Environment variables
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    # Volumes to be mounted to the container
    volumes:
      - /DATA/AppData/$AppID/config:/config
    # Ports mapping between host and container
    ports:
      - 3000:3000
      - 3001:3001
    x-casaos:
      envs:
        - container: PUID
          description:
            en_us: 'Container Variable: PUID'
        - container: PGID
          description:
            en_us: 'Container Variable: PGID'
        - container: TZ
          description:
            en_us: 'Container Variable: TZ'
      volumes:
        - container: /config
          description:
            en_us: 'Container Path: /config'
      ports:
        - container: "3000"
          description:
            en_us: 'Container Port: 3000'
        - container: "3001"
          description:
            en_us: 'Container Port: 3001'
x-casaos:
  # Supported CPU architectures for this application
  architectures:
    - amd64
    - arm64
  # Main service for this application
  main: big-bear-obsidian
  # Detailed description for the application
  description:
    en_us: Obsidian is a note-taking app that lets you create, link, and organize your notes on your device, with hundreds of plugins and themes to customize your workflow. You can also publish your notes online, access them offline, and sync them securely with end-to-end encryption.
  # Brief tagline for the application
  tagline:
    en_us: Obsidian
  # Developer's information
  developer: obsidianmd
  # Author of this particular configuration
  author: BigBearTechWorld
  # Icon URL for the application
  icon: https://cdn.jsdelivr.net/gh/selfhst/icons/png/obsidian.png
  # Thumbnail image for the application (if any)
  thumbnail: ""
  # Title for the application
  title:
    en_us: Obsidian
  # Category under which the application falls
  category: BigBearCasaOS
  # Default port mapping for the application
  port_map: "3000"
