# Configuration for big-bear-vikunja setup

# Name of the big-bear-vikunja application
name: big-bear-vikunja

# Service definitions for the big-bear-vikunja application
services:
  vikunja:
    image: vikunja/vikunja:0.24.2
    container_name: big-bear-vikunja
    ports:
      - 8081:3456
    volumes:
      # Map container path to host path for files
      - /DATA/AppData/$AppID/files:/app/vikunja/files
    environment:
      # Set the Vikunja frontend URL, replace <your public frontend url with slash> with the actual URL
      VIKUNJA_SERVICE_PUBLICURL: http://<your public frontend url with slash>/
      # Vikunja API environment variables
      VIKUNJA_DATABASE_HOST: vikunja-db
      VIKUNJA_DATABASE_PASSWORD: secret
      VIKUNJA_DATABASE_TYPE: mysql
      VIKUNJA_DATABASE_USER: vikunja
      VIKUNJA_DATABASE_DATABASE: vikunja
      VIKUNJA_SERVICE_JWTSECRET: 4c2ad520-f177-425f-ab7f-64c5e2b1c2c8
    restart: unless-stopped
    depends_on:
      - vikunja-db
    networks:
      - vikunja-network
    x-casaos: # CasaOS specific configuration
      envs:
        - container: VIKUNJA_DATABASE_HOST
          description:
            en_us: Database host
        - container: VIKUNJA_DATABASE_PASSWORD
          description:
            en_us: Database password
        - container: VIKUNJA_DATABASE_TYPE
          description:
            en_us: Database type
        - container: VIKUNJA_DATABASE_USER
          description:
            en_us: Database user
        - container: VIKUNJA_DATABASE_DATABASE
          description:
            en_us: Database name
        - container: VIKUNJA_SERVICE_JWTSECRET
          description:
            en_us: JWT secret
        - container: VIKUNJA_SERVICE_FRONTENDURL
          description:
            en_us: Frontend URL
      ports:
        - container: "3456"
          description:
            en_us: "Container Port: 3456"
      volumes:
        - container: /app/vikunja/files
          description:
            en_us: "Container Path: /app/vikunja/files"

  vikunja-db:
    image: mariadb:10
    container_name: vikunja-db
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
    environment:
      # MariaDB environment variables
      MYSQL_ROOT_PASSWORD: supersecret
      MYSQL_USER: vikunja
      MYSQL_PASSWORD: secret
      MYSQL_DATABASE: vikunja
    volumes:
      # Map container path to host path for MariaDB data
      - /DATA/AppData/$AppID/mysql:/var/lib/mysql
    restart: unless-stopped

    networks:
      - vikunja-network

    x-casaos: # CasaOS specific configuration
      envs:
        - container: MYSQL_ROOT_PASSWORD
          description:
            en_us: "MySQL root password: supersecret"
        - container: MYSQL_USER
          description:
            en_us: "MySQL user: vikunja"
        - container: MYSQL_PASSWORD
          description:
            en_us: "MySQL password: secret"
        - container: MYSQL_DATABASE
          description:
            en_us: "MySQL database: vikunja"
      volumes:
        - container: /var/lib/mysql
          description:
            en_us: "Container Path: /var/lib/mysql"

networks:
  vikunja-network:
    driver: bridge

# CasaOS specific configuration
x-casaos:
  # Supported CPU architectures for the application
  architectures:
    - amd64
    - arm64
  # Main service of the application
  main: vikunja
  description:
    # Description in English
    en_us: The open-source, self-hostable to-do app. Organize everything, on all platforms.
  tagline:
    # Short description or tagline in English
    en_us: Vikunja
  # Developer's name or identifier
  developer: "kolaente"
  # Author of this configuration
  author: BigBearTechWorld
  # Icon for the application
  icon: https://cdn.jsdelivr.net/gh/walkxcode/dashboard-icons/png/vikunja.png
  # Thumbnail image (currently empty)
  thumbnail: ""
  title:
    # Title in English
    en_us: Vikunja
  # Application category
  category: BigBearCasaOS
  # Port mapping information
  port_map: "8081"
  scheme: http
