# Configuration for big-bear-immich setup
name: big-bear-immich

# Service definitions for the big-bear-immich application
services:
  # Main Immich Server service configuration
  immich-server:
    container_name: immich-server # Name of the running container
    image: ghcr.io/immich-app/immich-server:v1.88.1 # Image to be used
    command: ["start.sh", "immich"] # Command to be executed upon container start
    ports: # Mapping ports from the host OS to the container
      - 2283:3001
    volumes: # Mounting directories for persistent data storage
      - /DATA/AppData/$AppID/upload:/usr/src/app/upload
    environment: # Setting environment variables
      TYPESENSE_API_KEY: casaos_typesense_api_key
      DB_HOSTNAME: immich-postgres
      DB_USERNAME: casaos
      DB_PASSWORD: casaos
      DB_DATABASE_NAME: immich
      DB_PORT: 5432
      REDIS_HOSTNAME: immich-redis
      IMMICH_MACHINE_LEARNING_URL: http://immich-machine-learning:3003
    depends_on: # Dependencies to ensure the order of service startup
      - redis
      - database
      - typesense
    restart: always # Policy to always restart the container if it stops

    x-casaos: # CasaOS specific configuration
      envs:
        - container: TYPESENSE_API_KEY
          description:
            en_us: "Typesense API Key"
        - container: DB_HOSTNAME
          description:
            en_us: "Database Hostname"
        - container: DB_USERNAME
          description:
            en_us: "Database Username"
        - container: DB_PASSWORD
          description:
            en_us: "Database Password"
        - container: DB_DATABASE_NAME
          description:
            en_us: "Database Name"
        - container: DB_PORT
          description:
            en_us: "Database Port"
        - container: REDIS_HOSTNAME
          description:
            en_us: "Redis Hostname"
        - container: IMMICH_MACHINE_LEARNING_URL
          description:
            en_us: "Immich Machine Learning URL"
      volumes:
        - container: /usr/src/app/upload
          description:
            en_us: "Container Path: /usr/src/app/upload"
      ports:
        - container: "3001"
          description:
            en_us: "Container Port: 3001"

  # Configuration for the Immich Microservices
  immich-microservices:
    container_name: immich-microservices # Name of the running container
    image: ghcr.io/immich-app/immich-server:v1.88.1 # Image to be used
    # extends:  # Feature to use configuration from another service (currently commented out)
    #   file: hwaccel.yml
    #   service: hwaccel
    command: ["start.sh", "microservices"] # Command to be executed upon container start
    volumes: # Mounting directories for persistent data storage
      - /DATA/AppData/$AppID/upload:/usr/src/app/upload
    environment: # Setting environment variables
      TYPESENSE_API_KEY: casaos_typesense_api_key
      DB_HOSTNAME: immich-postgres
      DB_USERNAME: casaos
      DB_PASSWORD: casaos
      DB_DATABASE_NAME: immich
      DB_PORT: 5432
      REDIS_HOSTNAME: immich-redis
    depends_on: # Dependencies to ensure the order of service startup
      - redis
      - database
      - typesense
    restart: always # Policy to always restart the container if it stops

    x-casaos: # CasaOS specific configuration
      envs:
        - container: TYPESENSE_API_KEY
          description:
            en_us: "Typesense API Key"
        - container: DB_HOSTNAME
          description:
            en_us: "Database Hostname"
        - container: DB_USERNAME
          description:
            en_us: "Database Username"
        - container: DB_PASSWORD
          description:
            en_us: "Database Password"
        - container: DB_DATABASE_NAME
          description:
            en_us: "Database Name"
        - container: DB_PORT
          description:
            en_us: "Database Port"
        - container: REDIS_HOSTNAME
          description:
            en_us: "Redis Hostname"
      volumes:
        - container: /usr/src/app/upload
          description:
            en_us: "Container Path: /usr/src/app/upload"

  # Configuration for Immich Machine Learning service
  immich-machine-learning:
    container_name: immich-machine-learning # Name of the running container
    image: ghcr.io/immich-app/immich-machine-learning:v1.88.1 # Image to be used
    volumes: # Mounting directories for persistent data storage
      - /DATA/AppData/$AppID/model-cache:/cache
    environment: # Setting environment variables
      DB_HOSTNAME: immich-postgres
      DB_USERNAME: casaos
      DB_PASSWORD: casaos
      DB_DATABASE_NAME: casaos
      DB_PORT: 5432
      REDIS_HOSTNAME: immich-redis
    restart: always # Policy to always restart the container if it stops

    x-casaos: # CasaOS specific configuration
      envs:
        - container: DB_HOSTNAME
          description:
            en_us: "Database Hostname"
        - container: DB_USERNAME
          description:
            en_us: "Database Username"
        - container: DB_PASSWORD
          description:
            en_us: "Database Password"
        - container: DB_DATABASE_NAME
          description:
            en_us: "Database Name"
        - container: DB_PORT
          description:
            en_us: "Database Port"
        - container: REDIS_HOSTNAME
          description:
            en_us: "Redis Hostname"
      volumes:
        - container: /cache
          description:
            en_us: "Container Path: /cache"

  # Configuration for Typesense service
  typesense:
    container_name: immich-typesense # Name of the running container
    image: typesense/typesense:0.24.1@sha256:9bcff2b829f12074426ca044b56160ca9d777a0c488303469143dd9f8259d4dd # Image to be used
    environment: # Setting environment variables
      - TYPESENSE_API_KEY=casaos_typesense_api_key
      - TYPESENSE_DATA_DIR=/data
      # remove this to get debug messages
      - GLOG_minloglevel=1
    volumes: # Mounting directories for persistent data storage
      - /DATA/AppData/$AppID/tsdata:/data
    restart: always # Policy to always restart the container if it stops

    x-casaos: # CasaOS specific configuration
      envs:
        - container: TYPESENSE_API_KEY
          description:
            en_us: "Typesense API Key"
        - container: TYPESENSE_DATA_DIR
          description:
            en_us: "Container Path: /data"
        - container: GLOG_minloglevel
          description:
            en_us: "GLOG_minloglevel=1"

      volumes:
        - container: /data
          description:
            en_us: "Container Path: /data"

  # Configuration for Redis service
  redis:
    container_name: immich-redis # Name of the running container
    image: redis:6.2-alpine@sha256:70a7a5b641117670beae0d80658430853896b5ef269ccf00d1827427e3263fa3 # Image to be used
    restart: always # Policy to always restart the container if it stops

  # Configuration for Database service
  database:
    container_name: immich-postgres # Name of the running container
    image: postgres:14-alpine@sha256:28407a9961e76f2d285dc6991e8e48893503cc3836a4755bbc2d40bcc272a441 # Image to be used
    environment: # Setting environment variables
      POSTGRES_PASSWORD: casaos
      POSTGRES_USER: casaos
      POSTGRES_DB: immich
      PG_DATA: /var/lib/postgresql/data
    volumes: # Mounting directories for persistent data storage
      - /DATA/AppData/$AppID/pgdata:/var/lib/postgresql/data
    restart: always # Policy to always restart the container if it stops

    x-casaos: # CasaOS specific configuration
      envs:
        - container: POSTGRES_PASSWORD
          description:
            en_us: "Database Password"
        - container: POSTGRES_USER
          description:
            en_us: "Database Username"
        - container: POSTGRES_DB
          description:
            en_us: "Database Name"
        - container: PG_DATA
          description:
            en_us: "Container Path: /var/lib/postgresql/data"
      volumes:
        - container: /var/lib/postgresql/data
          description:
            en_us: "Container Path: /var/lib/postgresql/data"

# CasaOS specific configuration
x-casaos:
  architectures: # Supported CPU architectures
    - amd64
    - arm64
  main: immich-server # Main service of the application
  description: # Description in different languages
    en_us: Self-hosted photo and video storage.
  tagline: # Short description or tagline in different languages
    en_us: Immich
  developer: "" # Developer's name or identifier
  author: BigBearTechWorld # Author of this configuration
  icon: https://cdn.jsdelivr.net/gh/walkxcode/dashboard-icons/png/immich.png
  # Thumbnail image (currently empty)
  thumbnail: ""
  # Title of the application in English
  title:
    en_us: Immich
  # Application category
  category: BigBearCasaOS
  # Port mapping information
  port_map: "2283"
