# Configuration for big-bear-mailpit setup
name: big-bear-mailpit

# Service definitions for the big-bear-mailpit application
services:
  # Service name: app
  app:
    image: axllent/mailpit:v1.7 # Image for the app service
    container_name: mailpit # Container name for the app service
    restart: unless-stopped # Restart policy for the container
    volumes: # Volumes to mount for the app service
      - /DATA/AppData/$AppID/data:/data
    environment: # Environment variables for the app service
      - TZ=UTC
    ports: # Ports to expose for the app service
      - "8025:8025"
      - "1025:1025"
    x-casaos: # CasaOS specific configuration
      envs:
        - container: TZ
          description:
            en_us: Timezone
      volumes:
        - container: /data
          description:
            en_us: "Container Path: /data"
      ports:
        - container: "8025"
          description:
            en_us: "Container Port: 8025"
# CasaOS specific configuration
x-casaos:
  architectures: # Supported CPU architectures
    - amd64
    - arm64
  main: app # Main service of the application
  description: # Description of the application in various languages
    en_us: Mailpit is a multi-platform email testing tool & API for developers. # Description in English
  tagline: # Short description or tagline for the application in various languages
    en_us: Mailpit # Tagline in English
  developer: "axllent" # Developer's name or identifier
  author: BigBearTechWorld # Author of this configuration
  icon: https://raw.githubusercontent.com/axllent/mailpit/831157a52e77415cf074331bb1a54f1cf7e3bfc6/server/ui/favicon.svg # Icon for the application
  thumbnail: "https://github.com/axllent/mailpit/blob/develop/docs/screenshot.png?raw=true" # Thumbnail image for the application
  title: # Title of the application in various languages
    en_us: Mailpit # Title in English
  category: BigBearCasaOS # Application category
  port_map: "8025" # Port mapping information
