# Configuration for romm setup

# Name of the big-bear-romm application
name: big-bear-romm

# Service definitions for the big-bear-romm application
services:
  # Service name: app
  # The `app` service definition
  app:
    image: zurdi15/romm:dev-latest
    container_name: romm
    environment:
      - ROMM_DB_DRIVER=mariadb # Database driver can be mariadb or sqlite (default: sqlite)
      # [Optional] Only required if using MariaDB as the database
      - DB_HOST=rommdb # Hostname of the MariaDB container
      - DB_PORT=3306 # Port used for MariaDB
      - DB_USER=romm-user # Database user for MariaDB
      - DB_NAME=romm # Name of the database (Should match the MYSQL_DATABASE value in the mariadb container)
      - DB_PASSWD=casaos # Database password (Should match the MYSQL_PASSWORD value in the mariadb container)
      - IGDB_CLIENT_ID=<IGDB client id> # IGDB client ID
      - IGDB_CLIENT_SECRET=<IGDB client secret> # IGDB client secret
      # [Optional - Work in Progress] Use SteamGridDB as a source for covers
      # - STEAMGRIDDB_API_KEY=<SteamGridDB api key>
      # [Optional] Enable user management and require authentication to access the interface (disabled by default)
      - ROMM_AUTH_ENABLED=true # Authentication enabled (default: false)
      - ROMM_AUTH_SECRET_KEY=<secret key> # Authentication secret key (Generate a key with `openssl rand -hex 32`)
      - ROMM_AUTH_USERNAME=admin # Authentication username (default: admin)
      - ROMM_AUTH_PASSWORD=<admin password> # Authentication password (default: admin)
      # [Optional] Only required if authentication is enabled
      - ENABLE_EXPERIMENTAL_REDIS=true # Enable experimental Redis support (default: false)
      - REDIS_HOST=redis # Redis hostname (default: localhost)
      - REDIS_PORT=6379 # Redis port (default: 6379)
      - REDIS_PASSWORD= # [Optional] Support for secured Redis
      # [Optional] Enable asynchronous tasks (all disabled by default)
      - ENABLE_RESCAN_ON_FILESYSTEM_CHANGE=true # Enable rescan on filesystem change
      - RESCAN_ON_FILESYSTEM_CHANGE_DELAY=5 # Delay in seconds before running the quick scan (default: 5)
      - ENABLE_SCHEDULED_RESCAN=true # Enable scheduled rescan
      - SCHEDULED_RESCAN_CRON=0 3 * * * # Cron expression for the scheduled scan (default: 0 3 * * * - At 3:00 AM every day)
      - ENABLE_SCHEDULED_UPDATE_SWITCH_TITLEDB=true # Enable scheduled update of Switch TitleDB database
      - SCHEDULED_UPDATE_SWITCH_TITLEDB_CRON=0 4 * * * # Cron expression for the scheduled update (default: 0 4 * * * - At 4:00 AM every day)
      - ENABLE_SCHEDULED_UPDATE_MAME_XML=true # Enable scheduled update of MAME XML database
      - SCHEDULED_UPDATE_MAME_XML_CRON=0 5 * * * # Cron expression for the scheduled update (default: 0 5 * * * - At 5:00 AM every day)
    volumes:
      - "/DATA/AppData/$AppID/library:/romm/library" # Path to the roms library
      - "/DATA/AppData/$AppID/resources:/romm/resources" # [Optional] Path where roms metadata (covers) are stored
      - "/DATA/AppData/$AppID/config.yml:/romm/config.yml" # [Optional] Path where config is stored
      - "/DATA/AppData/$AppID/database:/romm/database" # [Optional] Only needed if ROMM_DB_DRIVER=sqlite or not set
      - "/DATA/AppData/$AppID/logs:/romm/logs" # [Optional] Path where logs are stored
    ports:
      - 1080:8080 # Map host port 1080 to container port 8080
    depends_on:
      - rommdb # Make sure the romm_db service is started before the app service
    restart: "unless-stopped"

    x-casaos: # CasaOS specific configuration
      envs:
        # Environment variables for CasaOS
        - container: ROMM_DB_DRIVER
          description:
            en_us: "Database Driver: mariadb"
        - container: DB_HOST
          description:
            en_us: "Database Host: romm_db"
        - container: DB_PORT
          description:
            en_us: "Database Port: 3306"
        - container: DB_USER
          description:
            en_us: "Database User: romm-user"
        - container: DB_NAME
          description:
            en_us: "Database Name: romm"
        - container: DB_PASSWD
          description:
            en_us: "Database Password: casaos"
        - container: IGDB_CLIENT_ID
          description:
            en_us: "IGDB Client ID: <IGDB client id>"
        - container: IGDB_CLIENT_SECRET
          description:
            en_us: "IGDB Client Secret: <IGDB client secret>"
        - container: ROMM_AUTH_ENABLED
          description:
            en_us: "Authentication Enabled: true"
        - container: ROMM_AUTH_SECRET_KEY
          description:
            en_us: "Authentication Secret Key: <secret key>"
        - container: ROMM_AUTH_USERNAME
          description:
            en_us: "Authentication Username: admin"
        - container: ROMM_AUTH_PASSWORD
          description:
            en_us: "Authentication Password: admin"
        - container: ENABLE_EXPERIMENTAL_REDIS
          description:
            en_us: "Experimental Redis: true"
        - container: REDIS_HOST
          description:
            en_us: "Redis Host: redis"
        - container: REDIS_PORT
          description:
            en_us: "Redis Port: 6379"
        - container: REDIS_PASSWORD
          description:
            en_us: "Redis Password: casaos"
        - container: ENABLE_RESCAN_ON_FILESYSTEM_CHANGE
          description:
            en_us: "Rescan On Filesystem Change: true"
        - container: RESCAN_ON_FILESYSTEM_CHANGE_DELAY
          description:
            en_us: "Rescan On Filesystem Change Delay: 5"
        - container: ENABLE_SCHEDULED_RESCAN
          description:
            en_us: "Scheduled Rescan: true"
        - container: SCHEDULED_RESCAN_CRON
          description:
            en_us: "Scheduled Rescan Cron: 0 3 * * *"
        - container: ENABLE_SCHEDULED_UPDATE_SWITCH_TITLEDB
          description:
            en_us: "Scheduled Update Switch TitleDB: true"
        - container: SCHEDULED_UPDATE_SWITCH_TITLEDB_CRON
          description:
            en_us: "Scheduled Update Switch TitleDB Cron: 0 4 * * *"
        - container: ENABLE_SCHEDULED_UPDATE_MAME_XML
          description:
            en_us: "Scheduled Update MAME XML: true"
        - container: SCHEDULED_UPDATE_MAME_XML_CRON
          description:
            en_us: "Scheduled Update MAME XML Cron: 0 5 * * *"
      volumes:
        # Volume mappings for CasaOS
        - container: /romm/library
          description:
            en_us: "Container Path: /romm/library"
        - container: /romm/resources
          description:
            en_us: "Container Path: /romm/resources"
        - container: /romm/config.yml
          description:
            en_us: "Container Path: /romm/config.yml"
        - container: /romm/database
          description:
            en_us: "Container Path: /romm/database"
        - container: /romm/logs
          description:
            en_us: "Container Path: /romm/logs"
      ports:
        # Port mappings for CasaOS
        - container: "8080"
          description:
            en_us: "Container Port: 8080"

  # MariaDB service for rommdb
  rommdb:
    image: mariadb:latest
    container_name: rommdb
    environment:
      - MYSQL_ROOT_PASSWORD=casaos # MariaDB root password
      - MYSQL_DATABASE=romm # MariaDB database name
      - MYSQL_USER=romm-user # MariaDB user
      - MYSQL_PASSWORD=casaos # MariaDB password
    volumes:
      - /DATA/AppData/$AppID/mysql:/var/lib/mysql # MariaDB data volume (can also be mounted locally)
    ports:
      - 3306:3306 # Map host port 3306 to container port 3306
    restart: "unless-stopped"

    x-casaos:
      envs:
        # Environment variables for CasaOS
        - container: MYSQL_ROOT_PASSWORD
          description:
            en_us: "MySQL root password: casaos"
        - container: MYSQL_DATABASE
          description:
            en_us: "MySQL database: romm"
        - container: MYSQL_USER
          description:
            en_us: "MySQL user: romm-user"
        - container: MYSQL_PASSWORD
          description:
            en_us: "MySQL password: casaos"
      volumes:
        # Volume mappings for CasaOS
        - container: /var/lib/mysql
          description:
            en_us: "Container Path: /var/lib/mysql"
      ports:
        # Port mappings for CasaOS
        - container: "3306"
          description:
            en_us: "Container Port: 3306"

  # [Optional] Redis service, only required if experimental Redis is enabled
  redis:
    image: redis:alpine
    container_name: redis
    restart: unless-stopped
    ports:
      - 6379:6379 # Map host port 6379 to container port 6379
    x-casaos:
      envs:
        # Environment variables for CasaOS
        - container: REDIS_PASSWORD
          description:
            en_us: "Redis password: casaos"
      volumes:
        # Volume mappings for CasaOS
        - container: /var/lib/redis
          description:
            en_us: "Container Path: /var/lib/redis"
      ports:
        # Port mappings for CasaOS
        - container: "6379"
          description:
            en_us: "Container Port: 6379"

# CasaOS specific configuration
x-casaos:
  # Supported CPU architectures for the application
  architectures:
    - amd64
    - arm64
  # Main service of the application
  main: app
  description:
    # Description in English
    en_us: RomM (Rom Manager) is a web-based retro roms manager integrated with IGDB.
  tagline:
    # Short description or tagline in English
    en_us: RomM
  # Developer's name or identifier
  developer: "Zurdi15"
  # Author of this configuration
  author: BigBearTechWorld
  # Icon for the application
  icon: https://github.com/walkxcode/dashboard-icons/blob/main/png/romm.png?raw=true
  # Thumbnail image (currently empty)
  thumbnail: ""
  title:
    # Title in English
    en_us: RomM
  # Application category
  category: BigBearCasaOS
  # Port mapping information
  port_map: "1080"
  # This is shown before installing
  tips:
    before_install:
      en_us: |
        Run this script before installing the big-bear-romm application:

        ```
        bash -c "$(wget -qLO - https://raw.githubusercontent.com/bigbeartechworld/big-bear-scripts/master/generate-romm-config/run.sh)"
        ```

        After running this script, you need to restart the container.
