# Configuration for btop setup

# Name of the big-bear-btop application
name: big-bear-btop

# Service definitions for the big-bear-btop application
services:
  # Service name: big-bear-btop
  # The `big-bear-btop` service definition
  big-bear-btop:
    # Name of the container
    container_name: big-bear-btop

    # Image to be used for the container specifies the btop version and source
    image: bigbeartechworld/big-bear-btop:0.0.10

    # Container restart policy - restarts the container unless manually stopped
    restart: unless-stopped

    # Run the container in privileged mode to allow access to system metrics
    privileged: true

    # Environment variables for authentication
    environment:
      - GOTTY_AUTH_USER=bigbear
      - GOTTY_AUTH_PASS=password
      - GOTTY_AUTH_ENABLED=true

    # Mount necessary volumes for accessing system information
    volumes:
      # Mount the host's /proc directory to the container's /proc directory
      - /proc:/proc
      # Mount the host's /sys directory to the container's /sys directory
      - /sys:/sys
      # Mount the host's /dev directory to the container's /dev directory
      - /dev:/dev
      # Mount the host's /etc/localtime file to the container's /etc/localtime file (read-only)
      - /etc/localtime:/etc/localtime:ro
      # Mount a local directory for persisting btop configuration files
      - /DATA/AppData/$AppID/config:/root/.config/btop

    # Map port 7681 on the host to port 7681 on the container
    ports:
      - "7681:7681"

    # CasaOS specific configuration for volume and port descriptions
    x-casaos:
      envs:
        - container: GOTTY_AUTH_USER
          description:
            en_us: "Container Environment Variable: GOTTY_AUTH_USER"
        - container: GOTTY_AUTH_PASS
          description:
            en_us: "Container Environment Variable: GOTTY_AUTH_PASS"
        - container: GOTTY_AUTH_ENABLED
          description:
            en_us: "Container Environment Variable: GOTTY_AUTH_ENABLED"
      volumes:
        - container: /proc
          description:
            en_us: "Container Path: /proc"
        - container: /sys
          description:
            en_us: "Container Path: /sys"
        - container: /dev
          description:
            en_us: "Container Path: /dev"
        - container: /etc/localtime
          description:
            en_us: "Container Path: /etc/localtime"
        - container: /root/.config/btop
          description:
            en_us: "Container Path: /root/.config/btop"
      ports:
        - container: "7681"

# CasaOS specific application metadata and configurations
x-casaos:
  architectures:
    - amd64
    - arm64
  main: big-bear-btop
  description:
    en_us: A monitor of resources. Software made by Aristocratos at https://github.com/aristocratos/btop
  tagline:
    en_us: A monitor of resources
  developer: "bigbeartechworld"
  author: BigBearTechWorld
  icon: https://cdn.jsdelivr.net/gh/aristocratos/btop/Img/icon.png
  thumbnail: ""
  title:
    en_us: btop
  category: BigBearCasaOS
  port_map: "7681"
  # Tips
  tips:
    before_install:
      en_us: |
        Read this before installing: https://community.bigbeartechworld.com/t/added-btop-to-bigbearcasaos/1240?u=dragonfire1119
