# Configuration for big-bear-wud setup

# Name of the big-bear-wud application
name: big-bear-wud
# Service definitions for the big-bear-wud application
services:
  # Service definition for the main application
  app:
    image: fmartinou/whats-up-docker:6.6.1
    container_name: wud
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - 3000:3000
    x-casaos:
      volumes:
        - container: /var/run/docker.sock
          description:
            en_us: 'Container Path: /var/run/docker.sock'
      ports:
        - container: "3000"
          description:
            en_us: 'Container Port: 3000'
x-casaos:
  # Supported CPU architectures for this application
  architectures:
    - amd64
    - arm64
  # Main service for this application
  main: app
  # Detailed description for the application
  description:
    en_us: Gets you notified when new versions of your Docker containers are available and lets you react the way you want.
  # Brief tagline for the application
  tagline:
    en_us: What's Up Docker
  # Developer's information
  developer: fmartinou
  # Author of this particular configuration
  author: BigBearTechWorld
  # Icon URL for the application
  icon: https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/png/whats-up-docker.png
  # Thumbnail image for the application (if any)
  thumbnail: ""
  # Title for the application
  title:
    en_us: What's Up Docker
  # Category under which the application falls
  category: BigBearCasaOS
  # Default port mapping for the application
  port_map: "3000"
