name: big-bear-dashdot
services:
  app:
    image: mauricenino/dashdot:6.2.4
    ports:
      - "3001:3001"
    volumes:
      - /DATA/AppData/$AppID:/mnt/host
    privileged: true
    x-casaos:
      volumes:
        - container: /mnt/host
          description:
            en_us: 'Container Path: /mnt/host'
      ports:
        - container: "3001"
          description:
            en_us: 'Container Port: 3001'
x-casaos:
  # Supported CPU architectures for this application
  architectures:
    - amd64
    - arm64
  # Main service for this application
  main: app
  # Detailed description for the application
  description:
    en_us: About A simple, modern server dashboard, primarily used by smaller private servers.
  # Brief tagline for the application
  tagline:
    en_us: dash. - a modern server dashboard
  # Developer's information
  developer: mauricenino
  # Author of this particular configuration
  author: BigBearTechWorld
  # Icon URL for the application
  icon: https://cdn.jsdelivr.net/gh/selfhst/icons/png/dashdot.png
  # Thumbnail image for the application (if any)
  thumbnail: ""
  # Title for the application
  title:
    en_us: Dashdot
  # Category under which the application falls
  category: BigBearCasaOS
  # Default port mapping for the application
  port_map: "3001"
