# Configuration for zigbee2mqtt setup

# Name of the big-bear-zigbee2mqtt application
name: big-bear-zigbee2mqtt

# Service definitions for the big-bear-zigbee2mqtt application
services:
  # Service name: big-bear-zigbee2mqtt
  # The `big-bear-zigbee2mqtt` service definition
  big-bear-zigbee2mqtt:
    # Name of the container
    container_name: big-bear-zigbee2mqtt

    # Image to be used for the container
    image: koenkk/zigbee2mqtt:1.38.0

    # Container restart policy
    restart: unless-stopped

    # Volumes to be mounted to the container
    volumes:
      - /DATA/AppData/$AppID/data:/app/data
      - /run/udev:/run/udev:ro

    # Ports mapping between host and container
    ports:
      # Mapping port 8080 of the host to port 8080 of the container
      - 8080:8080

    # Environment variables
    environment:
      - TZ=UTC

    devices:
      # Make sure this matched your adapter location
      - /dev/serial/by-id/usb-Texas_Instruments_TI_CC2531_USB_CDC___0X00124B0018ED3DDF-if00:/dev/ttyACM0

    x-casaos: # CasaOS specific configuration
      volumes:
        - container: /app/data
          description:
            en_us: "Container Path: /app/data"
        - container: /run/udev
          description:
            en_us: "Container Path: /run/udev"
      ports:
        - container: "8080"
          description:
            en_us: "Container Port: 8080"

# CasaOS specific configuration
x-casaos:
  # Supported CPU architectures for the application
  architectures:
    - amd64
    - arm64
  # Main service of the application
  main: big-bear-zigbee2mqtt
  description:
    # Description in English
    en_us: Zigbee to MQTT bridge, get rid of your proprietary Zigbee bridges
  tagline:
    # Short description or tagline in English
    en_us: Zigbee to MQTT bridge
  # Developer's name or identifier
  developer: "koenkk"
  # Author of this configuration
  author: BigBearTechWorld
  # Icon for the application
  icon: https://github.com/walkxcode/dashboard-icons/blob/main/png/zigbee2mqtt.png?raw=true
  # Thumbnail image (currently empty)
  thumbnail: ""
  title:
    # Title in English
    en_us: Zigbee to MQTT bridge
  # Application category
  category: BigBearCasaOS
  # Port mapping information
  port_map: "8080"
  # Tips
  tips:
    before_install:
      en_us: |
        Before you install read this: https://community.bigbeartechworld.com/t/added-zigbee2mqtt-to-bigbearcasaos/1337#documentation-3
