name: big-bear-jlesage-firefox # Name of the CasaOS application
services:
  big-bear-jlesage-firefox:
    container_name: big-bear-jlesage-firefox # Name of the Docker container
    image: jlesage/firefox:v26.01.1 # Docker image for the Firefox browser
    ports:
      - "5800:5800" # Expose port 5800 for VNC access
    environment:
      - VNC_PASSWORD=casaos # Set the VNC password to 'casaos'
      - FF_OPEN_URL=https://community.bigbeartechworld.com/ # Set the default URL to Big Bear Tech World
    volumes:
      - /DATA/AppData/$AppID/config:/config # Mount the host directory to the container's Downloads directory
    x-casaos:
      envs:
        - container: VNC_PASSWORD
          description:
            en_us: 'Container Variable: VNC_PASSWORD'
        - container: FF_OPEN_URL
          description:
            en_us: 'Container Variable: FF_OPEN_URL'
      volumes:
        - container: /config
          description:
            en_us: 'Container Path: /config'
      ports:
        - container: "5800"
          description:
            en_us: 'Container Port: 5800'
x-casaos:
  # Supported CPU architectures for this application
  architectures:
    - amd64
    - arm64
  # Main service for this application
  main: big-bear-jlesage-firefox
  # Detailed description for the application
  description:
    en_us: The GUI of the application is accessed through a modern web browser (no installation or configuration needed on the client side) or via any VNC client.
  # Brief tagline for the application
  tagline:
    en_us: This project implements a Docker container for Firefox.
  # Developer's information
  developer: jlesage
  # Author of this particular configuration
  author: BigBearTechWorld
  # Icon URL for the application
  icon: https://cdn.jsdelivr.net/gh/selfhst/icons/png/firefox.png
  # Thumbnail image for the application (if any)
  thumbnail: ""
  # Installation tips
  tips:
    before_install:
      en_us: |
        Read this before installing: https://community.bigbeartechworld.com/t/added-jlesage-firefox-to-bigbearcasaos/2506#p-4575-documentation-3
  # Title for the application
  title:
    en_us: Jlesage Firefox
  # Category under which the application falls
  category: BigBearCasaOS
  # Default port mapping for the application
  port_map: "5800"
