# Configuration for pihole-unbound setup

# Name of the big-bear-pihole-unbound application
name: big-bear-pihole-unbound

# Service definitions for the big-bear-pihole-unbound application
services:
  # Service name: app
  # The `app` service definition
  app:
    # Name of the container
    container_name: big-bear-pihole-unbound

    # Image to be used for the container
    image: bigbeartechworld/big-bear-pihole-unbound:2024.05.0

    # Container restart policy
    restart: unless-stopped

    # Environment variables
    environment:
      TZ: "America/Chicago"
      WEBPASSWORD: "your_password"
      DNS1: "127.0.0.1#5353" # Use Unbound
      DNS2: "no" # No secondary DNS

    # Volumes to be mounted to the container
    volumes:
      # Mounting the local /DATA/AppData/$AppID/etc directory to /etc/pihole/ inside the container
      - /DATA/AppData/$AppID/etc:/etc/pihole/

      # Mounting the local /DATA/AppData/$AppID/dnsmasq.d directory to /etc/dnsmasq.d inside the container
      - /DATA/AppData/$AppID/dnsmasq.d:/etc/dnsmasq.d/

    # Ports mapping between host and container
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "67:67/udp"
      - "8080:80/tcp"
      - "10443:443/tcp"

    networks:
      # Define the network for pihole-unbound
      - pihole-unbound-network # Name of the network used by pihole-unbound

    x-casaos: # CasaOS specific configuration
      volumes:
        - container: /etc/pihole
          description:
            en_us: "Container Path: /etc/pihole"
        - container: /etc/dnsmasq.d
          description:
            en_us: "Container Path: /etc/dnsmasq.d"
      ports:
        - container: "53"
          description:
            en_us: "Container Port: 53"
        - container: "67"
          description:
            en_us: "Container Port: 67"
        - container: "80"
          description:
            en_us: "Container Port: 80"
        - container: "443"
          description:
            en_us: "Container Port: 443"

# Define the networks section
networks:
  # Define the pihole-unbound-network
  pihole-unbound-network:
    # Set the network driver to bridge
    driver: bridge

# CasaOS specific configuration
x-casaos:
  # Supported CPU architectures for the application
  architectures:
    - amd64
    - arm64
  # Main service of the application
  main: app
  description:
    # Description in English
    en_us: This is a custom pihole and unbound setup.
  tagline:
    # Short description or tagline in English
    en_us: Pi-hole and Unbound
  # Developer's name or identifier
  developer: "bigbeartechworld"
  # Author of this configuration
  author: BigBearTechWorld
  # Icon for the application
  icon: https://cdn.jsdelivr.net/gh/walkxcode/dashboard-icons/png/pi-hole-unbound.png?raw=true
  # Thumbnail image (currently empty)
  thumbnail: ""
  title:
    # Title in English
    en_us: Pi-hole and Unbound
  # Go to /admin to access the application
  index: /admin
  # Application category
  category: BigBearCasaOS
  # Port mapping information
  port_map: "8080"
