name: big-bear-firefox # Name of the CasaOS application
services:
  firefox:
    container_name: big-bear-firefox # Name of the Docker container
    image: linuxserver/firefox:1147.0.4 # Docker image for the Firefox browser
    ports:
      - "3000:3000" # Expose port 3000 for HTTP VNC access
      - "3001:3001" # Expose port 3001 for HTTPS VNC access
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - FIREFOX_CLI=https://community.bigbeartechworld.com/ # Set the default URL to Big Bear Tech World
    shm_size: 1gb # Allocate 1 GB of shared memory
    volumes:
      - /DATA/AppData/$AppID/config:/config # Mount the config directory for persistent data
    x-casaos:
      envs:
        - container: PUID
          description:
            en_us: 'Container Variable: PUID'
        - container: PGID
          description:
            en_us: 'Container Variable: PGID'
        - container: TZ
          description:
            en_us: 'Container Variable: TZ'
        - container: FIREFOX_CLI
          description:
            en_us: 'Container Variable: FIREFOX_CLI'
      volumes:
        - container: /config
          description:
            en_us: 'Container Path: /config'
      ports:
        - container: "3000"
          description:
            en_us: 'Container Port: 3000'
        - container: "3001"
          description:
            en_us: 'Container Port: 3001'
x-casaos:
  # Supported CPU architectures for this application
  architectures:
    - amd64
    - arm64
  # Main service for this application
  main: firefox
  # Detailed description for the application
  description:
    en_us: This Image contains a browser-accessible version of Firefox.
  # Brief tagline for the application
  tagline:
    en_us: Firefox
  # Developer's information
  developer: linuxserver
  # Author of this particular configuration
  author: BigBearTechWorld
  # Icon URL for the application
  icon: https://cdn.jsdelivr.net/gh/selfhst/icons/png/firefox.png
  # Thumbnail image for the application (if any)
  thumbnail: ""
  # Installation tips
  tips:
    before_install:
      en_us: |
        Access the browser at http://your-server:3000 or https://your-server:3001
  # Title for the application
  title:
    en_us: Firefox
  # Category under which the application falls
  category: BigBearCasaOS
  # Default port mapping for the application
  port_map: "3000"
