# Configuration for zotero setup

# Name of the big-bear-zotero application
name: big-bear-zotero

# Service definitions for the big-bear-zotero application
services:
  # Service name: big-bear-zotero
  # The `big-bear-zotero` service definition
  big-bear-zotero:
    # Name of the container
    container_name: big-bear-zotero

    # Image to be used for the container
    image: linuxserver/zotero:6.0.35

    # Container restart policy
    restart: unless-stopped

    # Environment variables for the container
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC

    # Ports mapping between host and container
    ports:
      - 3000:3000
      - 3001:3001

    security_opt:
      - seccomp:unconfined #optional

    shm_size: "1gb" #optional

    x-casaos: # CasaOS specific configuration
      envs:
        - container: PUID
          description:
            en_us: Process UID
        - container: PGID
          description:
            en_us: Process GID
        - container: TZ
          description:
            en_us: Timezone
      ports:
        - container: "3000"
          description:
            en_us: "Container Port: 3000"
        - container: "3001"
          description:
            en_us: "Container Port: 3001"

# CasaOS specific configuration
x-casaos:
  # Supported CPU architectures for the application
  architectures:
    - amd64
    - arm64
  # Main service of the application
  main: big-bear-zotero
  description:
    # Description in English
    en_us: Zotero is a free, easy-to-use tool to help you collect, organize, annotate, cite, and share research.
  tagline:
    # Short description or tagline in English
    en_us: Zotero
  # Developer's name or identifier
  developer: "linuxserver"
  # Author of this configuration
  author: BigBearTechWorld
  # Icon for the application
  icon: https://github.com/walkxcode/dashboard-icons/blob/main/png/zotero.png?raw=true
  # Thumbnail image (currently empty)
  thumbnail: ""
  title:
    # Title in English
    en_us: Zotero
  # Application category
  category: BigBearCasaOS
  # Port mapping information
  port_map: "3000"
