# Configuration for upsnap setup

# Name of the big-bear-upsnap application
name: big-bear-upsnap
# Service definitions for the big-bear-upsnap application
services:
  # Service name: big-bear-upsnap
  # The `big-bear-upsnap` service definition
  big-bear-upsnap:
    # Name of the container
    container_name: big-bear-upsnap
    # Image to be used for the container
    image: ghcr.io/seriousm4x/upsnap:5.2.8
    # Container restart policy
    restart: unless-stopped
    # Network mode
    network_mode: host
    # Volumes to be mounted to the container
    volumes:
      # Mounting the local /DATA/AppData/$AppID/pb_data directory to /app/pb_data inside the container
      - /DATA/AppData/$AppID/pb/data:/app/pb_data
    x-casaos:
      volumes:
        - container: /app/pb_data
          description:
            en_us: 'Container Path: /app/pb_data'
x-casaos:
  # Supported CPU architectures for this application
  architectures:
    - amd64
    - arm64
  # Main service for this application
  main: big-bear-upsnap
  # Detailed description for the application
  description:
    en_us: A simple wake on lan web app written with SvelteKit, Go and PocketBase.
  # Brief tagline for the application
  tagline:
    en_us: Upsnap
  # Developer's information
  developer: seriousm4x
  # Author of this particular configuration
  author: BigBearTechWorld
  # Icon URL for the application
  icon: https://cdn.jsdelivr.net/gh/selfhst/icons/png/upsnap.png
  # Thumbnail image for the application (if any)
  thumbnail: ""
  # Installation tips
  tips:
    before_install:
      en_us: |
        Read this before installing: https://community.bigbeartechworld.com/t/added-upsnap-to-bigbearcasaos/2279?u=dragonfire1119
  # Title for the application
  title:
    en_us: Upsnap
  # Category under which the application falls
  category: BigBearCasaOS
  # Default port mapping for the application
  port_map: "8090"
