# Configuration for upsnap setup

# Name of the big-bear-upsnap application
name: big-bear-upsnap

# Service definitions for the big-bear-upsnap application
services:
  # Service name: big-bear-upsnap
  # The `big-bear-upsnap` service definition
  big-bear-upsnap:
    # Name of the container
    container_name: big-bear-upsnap

    # Image to be used for the container
    image: ghcr.io/seriousm4x/upsnap:4.6.1

    # Container restart policy
    restart: unless-stopped

    # Network mode
    network_mode: host

    # Volumes to be mounted to the container
    volumes:
      # Mounting the local /DATA/AppData/$AppID/pb_data directory to /app/pb_data inside the container
      - /DATA/AppData/$AppID/pb_data:/app/pb_data

    x-casaos: # CasaOS specific configuration
      volumes:
        - container: /app/data/configs
          description:
            en_us: "Container Path: /app/data/configs"
        - container: /app/public/icons
          description:
            en_us: "Container Path: /app/public/icons"
        - container: /data
          description:
            en_us: "Container Path: /data"
      ports:
        - container: "8090"
          description:
            en_us: "Container Port: 8090"

# CasaOS specific configuration
x-casaos:
  # Supported CPU architectures for the application
  architectures:
    - amd64
    - arm64
  # Main service of the application
  main: big-bear-upsnap
  description:
    # Description in English
    en_us: A simple wake on lan web app written with SvelteKit, Go and PocketBase.
  tagline:
    # Short description or tagline in English
    en_us: Upsnap
  # Developer's name or identifier
  developer: "seriousm4x"
  # Author of this configuration
  author: BigBearTechWorld
  # Icon for the application
  icon: https://cdn.jsdelivr.net/gh/walkxcode/dashboard-icons/png/upsnap.png
  # Thumbnail image (currently empty)
  thumbnail: ""
  title:
    # Title in English
    en_us: Upsnap
  # Application category
  category: BigBearCasaOS
  # Port mapping information
  port_map: "8090"
  # Tips
  tips:
    before_install:
      en_us: |
        Read this before installing: https://community.bigbeartechworld.com/t/added-upsnap-to-bigbearcasaos/2279?u=dragonfire1119