# Name of the convertx application
name: big-bear-convertx
# Service definitions for the convertx application
services:
  # Main service configuration for the convertx application
  big-bear-convertx:
    # Name of the container
    container_name: big-bear-convertx
    # Image to be used for the container
    image: ghcr.io/c4illin/convertx:v0.17.0
    # Container restart policy - restarts the container unless manually stopped
    restart: unless-stopped
    # Map port 3000 on the host to port 3000 on the container
    ports:
      - "3000:3000"
    # Environment variables for the container
    environment:
      - JWT_SECRET=c8330437-e6ae-4cf0-9837-4d1326457e32 # will use randomUUID() if unset
      - HTTP_ALLOWED=true
    # Volume mappings for data persistence
    volumes:
      - /DATA/AppData/$AppID/data:/app/data
    x-casaos:
      envs:
        - container: JWT_SECRET
          description:
            en_us: 'Container Variable: JWT_SECRET'
        - container: HTTP_ALLOWED
          description:
            en_us: 'Container Variable: HTTP_ALLOWED'
      volumes:
        - container: /app/data
          description:
            en_us: 'Container Path: /app/data'
      ports:
        - container: "3000"
          description:
            en_us: 'Container Port: 3000'
x-casaos:
  # Supported CPU architectures for this application
  architectures:
    - amd64
    - arm64
  # Main service for this application
  main: big-bear-convertx
  # Detailed description for the application
  description:
    en_us: A self-hosted online file converter. Supports over a thousand different formats. Written with TypeScript, Bun and Elysia.
  # Screenshot links for the application
  screenshot_link:
    - https://cdn.jsdelivr.net/gh/bigbeartechworld/big-bear-universal-apps@main/apps/convertx/screenshots/screenshot-1.png
  # Brief tagline for the application
  tagline:
    en_us: "\U0001F4BE Self-hosted online file converter. Supports 1000+ formats ⚙️"
  # Developer's information
  developer: C4illin
  # Author of this particular configuration
  author: BigBearTechWorld
  # Icon URL for the application
  icon: https://cdn.jsdelivr.net/gh/bigbeartechworld/big-bear-universal-apps/apps/convertx/logo.png
  # Thumbnail image for the application (if any)
  thumbnail: https://cdn.jsdelivr.net/gh/bigbeartechworld/big-bear-universal-apps/apps/convertx/thumbnail.png
  # Installation tips
  tips:
    before_install:
      en_us: |
        Read this before installing: https://community.bigbeartechworld.com/t/add-convertx-to-bigbearcasaos/3232#p-5599-documentation-5
  # Title for the application
  title:
    en_us: ConvertX
  # Category under which the application falls
  category: BigBearCasaOS
  # Default port mapping for the application
  port_map: "3000"
