# Configuration for big-bear-mind setup
name: big-bear-mind

# Service definitions for the big-bear-mind application
services:
  app:
    image: "mrcas/mind:latest"
    container_name: mind
    environment:
      - TZ=UTC
    volumes:
      - "/DATA/AppData/$AppID/db:/app/db"
    ports:
      - "8080:8080"
    x-casaos: # CasaOS specific configuration
      envs:
        - container: TZ
          description:
            en_us: Timezone
      volumes:
        - container: /app/db
          description:
            en_us: "Container Path: /app/db"
      ports:
        - container: "8080"
          description:
            en_us: "Container Port: 8080"

# CasaOS specific configuration
x-casaos:
  architectures: # Supported CPU architectures
    - amd64
    - arm
    - arm64
  main: app # Main service of the application
  description:
    en_us: A simple self hosted reminder application that can send push notifications to your device. Set the reminder and forget about it! # Description in English
  tagline:
    en_us: A simple self hosted reminder application that can send push notifications to your device. Set the reminder and forget about it! # Short description or tagline in English
  developer: "Casvt" # Developer's name or identifier
  author: BigBearTechWorld # Author of this configuration
  icon: https://i.imgur.com/UgjalkK.png # Icon for the application
  thumbnail: "" # Thumbnail image (currently empty)
  title:
    en_us: MIND # Title in English
  category: BigBearCasaOS # Application category
  port_map: "8080" # Port mapping information
