# Configuration for wallos setup

# Name of the big-bear-wallos application
name: big-bear-wallos
# Service definitions for the big-bear-wallos application
services:
  # Service name: big-bear-wallos
  # The `big-bear-wallos` service definition
  big-bear-wallos:
    # Name of the container
    container_name: big-bear-wallos
    # Image to be used for the container
    image: bellamy/wallos:4.6.1
    # Container restart policy
    restart: unless-stopped
    # Environment variables for the container
    environment:
      TZ: "UTC" # Sets the time zone inside the container to Coordinated Universal Time (UTC).
    # Volumes to be mounted to the container
    volumes:
      # Mounting the local /DATA/AppData/big-bear-wallos/db directory to /var/www/html/db inside the container
      - /DATA/AppData/$AppID/db:/var/www/html/db
      # Mounting the local /DATA/AppData/big-bear-wallos/logos directory to /var/www/html/images/uploads/logos inside the container
      - /DATA/AppData/$AppID/logos:/var/www/html/images/uploads/logos
    # Ports mapping between host and container
    ports:
      # Mapping port 8282 of the host to port 80 of the container
      - "8282:80"
    x-casaos:
      envs:
        - container: TZ
          description:
            en_us: 'Container Variable: TZ'
      volumes:
        - container: /var/www/html/db
          description:
            en_us: 'Container Path: /var/www/html/db'
        - container: /var/www/html/images/uploads/logos
          description:
            en_us: 'Container Path: /var/www/html/images/uploads/logos'
      ports:
        - container: "80"
          description:
            en_us: 'Container Port: 80'
x-casaos:
  # Supported CPU architectures for this application
  architectures:
    - amd64
    - arm64
  # Main service for this application
  main: big-bear-wallos
  # Detailed description for the application
  description:
    en_us: 'Wallos: Open-Source Personal Subscription Tracker'
  # Brief tagline for the application
  tagline:
    en_us: Wallos
  # Developer's information
  developer: bellamy
  # Author of this particular configuration
  author: BigBearTechWorld
  # Icon URL for the application
  icon: https://cdn.jsdelivr.net/gh/selfhst/icons/png/wallos.png
  # Thumbnail image for the application (if any)
  thumbnail: ""
  # Installation tips
  tips:
    before_install:
      en_us: |
        Before you install read this: https://community.bigbeartechworld.com/t/added-wallos-to-bigbearcasaos/2139?u=dragonfire1119
  # Title for the application
  title:
    en_us: Wallos
  # Category under which the application falls
  category: BigBearCasaOS
  # Default port mapping for the application
  port_map: "8282"
