# Configuration for note-mark-aio setup

# Name of the big-bear-note-mark-aio application
name: big-bear-note-mark-aio
# Service definitions for the big-bear-homarr application
services:
  # Service name: big-bear-note-mark-aio
  # The `big-bear-note-mark-aio` service definition
  big-bear-note-mark-aio:
    # Name of the container
    container_name: big-bear-note-mark-aio
    # Image to be used for the container
    image: ghcr.io/enchant97/note-mark-aio:0.19.0
    # Container restart policy
    restart: unless-stopped
    environment:
      - JWT_SECRET="MGZiMzlkM2EtNmYxNC00NzNlLWI2YjItYTViY2M0Mzg0NjNl"
      - CORS_ORIGINS="http://example.com:8000"
    # Volumes to be mounted to the container
    volumes:
      # Mounting the local /config directory to /config inside the container
      - /DATA/AppData/$AppID/data:/data
    # Ports mapping between host and container
    ports:
      # Mapping port 8000 of the host to port 8000 of the container
      - "8000:8000"
    # Networks to be attached to the container
    networks:
      - big_bear_note_mark_aio_network
    x-casaos:
      envs:
        - container: JWT_SECRET
          description:
            en_us: 'Container Variable: JWT_SECRET'
        - container: CORS_ORIGINS
          description:
            en_us: 'Container Variable: CORS_ORIGINS'
      volumes:
        - container: /data
          description:
            en_us: 'Container Path: /data'
      ports:
        - container: "8000"
          description:
            en_us: 'Container Port: 8000'
# Network definitions for the big-bear-note-mark-aio application
networks:
  big_bear_note_mark_aio_network:
    driver: bridge
x-casaos:
  # Supported CPU architectures for this application
  architectures:
    - amd64
    - arm64
  # Main service for this application
  main: big-bear-note-mark-aio
  # Detailed description for the application
  description:
    en_us: Note Mark Aio is a self-hosted note taking app that allows you to create, organize, and share notes. It's a fork of the popular note-mark app with a focus on simplicity and ease of use.
  # Brief tagline for the application
  tagline:
    en_us: Note Mark Aio
  # Developer's information
  developer: enchant97
  # Author of this particular configuration
  author: BigBearTechWorld
  # Icon URL for the application
  icon: https://cdn.jsdelivr.net/gh/bigbeartechworld/big-bear-universal-apps/apps/note-mark-aio/logo.png
  # Thumbnail image for the application (if any)
  thumbnail: ""
  # Installation tips
  tips:
    before_install:
      en_us: |
        Read this before installing: https://community.bigbeartechworld.com/t/added-note-mark-aio-to-bigbearcasaos/1952#p-3621-documentation-4
  # Title for the application
  title:
    en_us: Note Mark AIO
  # Category under which the application falls
  category: BigBearCasaOS
  # Default port mapping for the application
  port_map: "8000"
