# Configuration for send setup
# Intial version: v3.4.25

# Name of the big-bear-send-visee application
name: big-bear-send-visee
# Service definitions for the big-bear-send application
services:
  # Service name: big-bear-send-visee
  # The `big-bear-send-visee` service definition
  big-bear-send-visee:
    # Name of the container (Docker does not have to generate a random name)
    container_name: big-bear-send-visee
    # Image to be used for the container
    image: registry.gitlab.com/timvisee/send:v3.4.27
    # Container restart policy
    restart: unless-stopped
    # Environment variables for the container
    environment:
      - NODE_ENV=production
      # Networking
      - BASE_URL=http://${APP_DOMAIN}
      # Redis
      - REDIS_HOST=big-bear-send-visee-redis
      # Storage Limit
      - MAX_FILE_SIZE=2147483648
      # Storage path
      - FILE_DIR=/uploads
    # Volumes to be mounted to the container
    volumes:
      # Storage volume
      - /DATA/AppData/$AppID/uploads:/uploads
    # Ports mapping between host and container
    ports:
      # Mapping port 1443 of the host to port 1443 of the container
      - "1443:1443"
    networks:
      - big_bear_send_visee_network
    x-casaos:
      envs:
        - container: NODE_ENV
          description:
            en_us: 'Container Variable: NODE_ENV'
        - container: BASE_URL
          description:
            en_us: 'Container Variable: BASE_URL'
        - container: REDIS_HOST
          description:
            en_us: 'Container Variable: REDIS_HOST'
        - container: MAX_FILE_SIZE
          description:
            en_us: 'Container Variable: MAX_FILE_SIZE'
        - container: FILE_DIR
          description:
            en_us: 'Container Variable: FILE_DIR'
      volumes:
        - container: /uploads
          description:
            en_us: 'Container Path: /uploads'
      ports:
        - container: "1443"
          description:
            en_us: 'Container Port: 1443'
  big-bear-send-visee-redis:
    # Name of the container (Docker does not have to generate a random name)
    container_name: big-bear-send-visee-redis
    # Image to be used for the container
    image: redis:8.2.2-alpine@sha256:1c78f5e7512cc8b22b0edc95c20e7abd9e1fd832e5dfd5c3c6b59ce82fb238d0
    # Container restart policy
    restart: unless-stopped
    # Volumes to be mounted to the container
    volumes:
      - /DATA/AppData/$AppID/redis:/data
    # Health check
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 30
    # Networks to be used for the container
    networks:
      - big_bear_send_visee_network
    x-casaos:
      volumes:
        - container: /data
          description:
            en_us: 'Container Path: /data'
# Networks to be used for the containers
networks:
  big_bear_send_visee_network:
    # Driver to be used for the network
    driver: bridge
x-casaos:
  # Supported CPU architectures for this application
  architectures:
    - amd64
    - arm64
  # Main service for this application
  main: big-bear-send-visee
  # Detailed description for the application
  description:
    en_us: A fork of Mozilla's Firefox Send. Mozilla discontinued Send, this fork is a community effort to keep the project up-to-date and alive.
  # Screenshot links for the application
  screenshot_link:
    - https://cdn.jsdelivr.net/gh/bigbeartechworld/big-bear-universal-apps@main/apps/send-visee/screenshots/screenshot-1.png
  # Brief tagline for the application
  tagline:
    en_us: A fork of Mozilla's Firefox Send.
  # Developer's information
  developer: timvisee
  # Author of this particular configuration
  author: BigBearTechWorld
  # Icon URL for the application
  icon: https://cdn.jsdelivr.net/gh/selfhst/icons/png/send-visee.png
  # Thumbnail image for the application (if any)
  thumbnail: https://cdn.jsdelivr.net/gh/bigbeartechworld/big-bear-universal-apps/apps/send-visee/thumbnail.png
  # Installation tips
  tips:
    before_install:
      en_us: |
        Read this before installing: https://community.bigbeartechworld.com/t/added-send-visee-to-bigbearcasaos/3456?u=dragonfire1119
  # Title for the application
  title:
    en_us: Send Visee
  # Category under which the application falls
  category: BigBearCasaOS
  # Default port mapping for the application
  port_map: "1443"
