# Configuration for kiwix-serve setup

# Name of the big-bear-kiwix-serve application
name: big-bear-kiwix-serve

# Service definitions for the big-bear-kiwix-serve application
services:
  # Service name: big-bear-kiwix-serve
  # The `big-bear-kiwix-serve` service definition
  big-bear-kiwix-serve:
    # Name of the container
    container_name: big-bear-kiwix-serve

    # Image to be used for the container
    image: ghcr.io/kiwix/kiwix-serve:3.7.0-2

    # Command to run inside the container
    command: "*.zim"

    # Container restart policy
    restart: unless-stopped

    # Volumes to be mounted to the container
    volumes:
      # Mounting the local /DATA/AppData/$AppID/zim directory to /data inside the container
      - /DATA/AppData/$AppID/zim:/data

    # Ports mapping between host and container
    ports:
      # Mapping port 8080 of the host to port 8080 of the container
      - "8080:8080"

    x-casaos: # CasaOS specific configuration
      volumes:
        - container: /data
          description:
            en_us: "Container Path: /data" # Description for the volume
      ports:
        - container: "8080"
          description:
            en_us: "Container Port: 8080" # Description for the port

# CasaOS specific configuration
x-casaos:
  # Supported CPU architectures for the application
  architectures:
    - amd64
    - arm64
  # Main service of the application
  main: big-bear-kiwix-serve
  description:
    # Description in English
    en_us: Kiwix Server is a web server for hosting .zim files
  tagline:
    # Short description or tagline in English
    en_us: Kiwix Server
  # Developer's name or identifier
  developer: "kiwix"
  # Author of this configuration
  author: BigBearTechWorld
  # Icon for the application
  icon: https://cdn.jsdelivr.net/gh/walkxcode/dashboard-icons/png/kiwix.png
  # Thumbnail image (currently empty)
  thumbnail: ""
  title:
    # Title in English
    en_us: Kiwix Server
  # Application category
  category: BigBearCasaOS
  # Port mapping information
  port_map: "8080"
  # Tips for the application
  tips:
    before_install:
      en_us: |
        Read this before installing: https://community.bigbeartechworld.com/t/added-kiwix-serve-to-bigbearcasaos/1554#documentation-4
